{% extends "layout.njk" %}

{% block head %}
    <title>Livros</title>
{% endblock %}

{% block content %}

    <form class="cardSenha" method="POST" action="/login">

        <section class="details">

            <h3>Entre com a senha para acessar o sistema</h3>

            <div class="item">
                <div>Senha</div>
                <div>
                    <input type="password" name="senha" placeholder="Senha" >
                </div>
            </div>
            <div></div>

            <button type="submit"> Entrar </button>

        </section>

    </form>

{% endblock %}