{% extends "layout.njk" %}

{% block head %}
    <title>Livros</title>
{% endblock %}

{% block content %}

    <form class="card" method="POST" action="/livros">

        <section class="avatar" style="background: url(https://images.unsplash.com/photo-1471970471555-19d4b113e9ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) no-repeat center center / cover;"></section>

        <section class="details">

            <h3>Novo Livro</h3>

            {% include 'livros/fields.njk' %}

        </section>

    </form>

{% endblock %}